doctype html
html(lang="en")
    head
        title Abhay Arora - Data Engineering &amp; Backend
        link(href='https://fonts.googleapis.com/css?family=Lato:300,400,400i,700,700i', type='text/css', rel='stylesheet')
        link(href='assets/css/BzFTMxc.min.css', type='text/css', rel='stylesheet')
    body
        .wrapper
            .page.fw

                section#whoami.wrapper
                    .l
                        .greeting.fw.fl
                            h3
                                span.highlight.skew
                                    span.unskew Hello!
                                span I am 
                            h1 Abhay Arora .
                        .role
                            p Data Engineering &amp; Backend
                    .r
                        .intro.fw.fl
                            p My idea of profession is to work for my passion. My passion for innovation, passion for technology, and yes passion for business co-define the terms on which I live.


                .split.fw.fl
                    
                    .split-left.fl
                        
                        section#contact.section
                            h3.head Contact
                            .content
                                p Some content here
                            .foot There's an issue

                    .split-right.fl

                        section#contact.section.wb
                            h3.head Experience
                            .content
                                .timeline
                                    .row
                                        .time
                                            .t Oct'17 - Present
                                            .td Data Engineer
                                            .loc Bengaluru, IN
                                        .event
                                            .e Datalicious Pty. Ltd. (An Equifax company)
                                            .ec My idea of profession is to work for my passion. My passion for innovation, passion for technology, and yes passion for business co-define the terms on which I live
                                            ul.tags
                                                li ETL
                                                li Media Attribution
                                                li Data Pipelines
                                    .row
                                        .time
                                            .t Oct'17 - Present
                                            .td Data Engineer
                                            .loc Bengaluru, IN
                                        .event
                                            .e Datalicious Pty. Ltd. (An Equifax company)
                                            .ec My idea of profession is to work for my passion. My passion for innovation, passion for technology, and yes passion for business co-define the terms on which I live
                                            ul.tags
                                                li ETL
                                                li Media Attribution
                                                li Data Pipelines
                                    .row
                                        .time
                                            .t Oct'17 - Present
                                            .td Data Engineer
                                            .loc Bengaluru, IN
                                        .event
                                            .e Datalicious Pty. Ltd. (An Equifax company)
                                            .ec My idea of profession is to work for my passion. My passion for innovation, passion for technology, and yes passion for business co-define the terms on which I live
                                            ul.tags
                                                li ETL
                                                li Media Attribution
                                                li Data Pipelines
                                    .row
                                        .time
                                            .t Oct'17 - Present
                                            .td Data Engineer
                                            .loc Bengaluru, IN
                                        .event
                                            .e Datalicious Pty. Ltd. (An Equifax company)
                                            .ec My idea of profession is to work for my passion. My passion for innovation, passion for technology, and yes passion for business co-define the terms on which I live
                                            ul.tags
                                                li ETL
                                                li Media Attribution
                                                li Data Pipelines
                            .foot Total 3+ years of experience

                        section#contact.section.wb
                            h3.head Contact
                            .content
                                p Some content here
                            .foot There's an issue

                        section#contact.section.wb
                            h3.head Contact
                            .content
                                p Some content here
                            .foot There's an issue

        script(src='assets/js/BzFTMxc.js')
