doctype html
html(lang="en")
    head
        title Abhay Arora - Data Engineering &amp; Backend
        link(href='https://fonts.googleapis.com/css?family=Lato:300,400,400i,700,700i', type='text/css', rel='stylesheet')
        link(href='assets/css/BzFTMxc.min.css', type='text/css', rel='stylesheet')
    body
        .wrapper
            .page.fw

                section#whoami.wrapper
                    .l
                        .greeting.fw.fl
                            h3
                                span.highlight.skew
                                    span.unskew Hello!
                                span I am 
                            h1 Abhay Arora .
                        .role
                            p Data Engineering, Backend &amp; DevOps
                    .r
                        .quick-connect
                            a(href='mailto:aroraabhay@icloud.com')
                                img(src='assets/img/mail.png')
                                | aroraabhay@icloud.com
                            a(href='tel:+919478478470')
                                img(src='assets/img/call.png')
                                | (+91) 9 478 478 470
                        .intro.fw.fl
                            ul.journey
                                li
                                    .milestone Freelancing
                                li
                                    .milestone Startup
                                li
                                    .milestone Infosys
                                li
                                    .milestone Datalicious
                                li
                                    .milestone Your Team
                            p My idea of profession is to work for my passion. My passion for innovation, passion for technology, and yes passion for business co-define the terms on which I live.

                .split.fw.fl
                    
                    .split-left.fl
                        
                        section#skills.section
                            h3.head Technical Skills
                            .content
                                .sub-section
                                    span.title Language
                                    ul.tags
                                        li.pro Python
                                        li.int Golang
                                        li Scala
                                        li.int Javascript
                                        li C
                                .sub-section
                                    span.title Framework &amp; Utility
                                    ul.tags
                                        li.pro Spark
                                        li Apache Beam
                                        li.int Hadoop
                                        li.int Kafka
                                        li.pro Scrapy
                                        li React.js
                                        li.pro Flask
                                        li D3.js
                                .sub-section
                                    span.title Storage &amp; Search
                                    ul.tags
                                        li.pro PostgreSQL
                                        li.int Elasticsearch
                                        li.int BigQuery
                                        li.pro MongoDB
                                        li.pro MySQL
                                        li.pro HBase
                                        li SolR
                                        li TitanDB
                                .sub-section
                                    span.title Workflow &amp; Infrastructure
                                    ul.tags
                                        li.int Docker
                                        li.pro Google Cloud
                                        li Kubernetes
                                        li.pro Ansible
                                        li Jenkins
                                        li.pro Git
                                        li.int AWS
                                        li Slack
                                        li Shell Scripting
                                        li JIRA
                        
                        section#interests.section
                            h3.head Areas of Interest
                            .content
                                #interests-chart
                                .interests
                                    ul.tags
                                        li.pro Blockchain
                                        li.int Smart Contracts
                                        li Bots & AI
                                        li.pro IoT Solutions

                    .split-right.fl

                        section#experience.section.wb
                            h3.head Work History
                            .content
                                .timeline
                                    .row
                                        .time
                                            .t Oct'17 - Present
                                            .td Data Engineer
                                            .loc Bengaluru, IN
                                        .event
                                            .e Datalicious Pty. Ltd.
                                            .ec Datalicious offers various products and services in  marketing attribution, web analytics and data science. My job here is to build, administer and scale data collector and data pipelines that capture and process millions of events a day.
                                            ul.tags
                                                li.pro Google Dataflow
                                                li.int Apache Beam
                                                li.pro BigQuery
                                                li Kubernetes
                                                li.int Docker
                                                li.int Golang
                                                li.pro Python
                                                li Ansible
                                    .row
                                        .time
                                            .t Oct'16 - Oct'17
                                            .td System Engineer
                                            .loc Trivandrum, IN
                                        .event
                                            .e Infosys Ltd.
                                            .ec Design support group at Infosys developed a physical network inventory and network analysis tools to validate network designs before construction. We saved millions by avoiding any construction or design failures.
                                            ul.tags
                                                li.int AutoCAD
                                                li.pro GML
                                                li.int MapInfo
                                                li.pro Google Maps
                                                li.pro Python
                                                li.int Javascript
                                                li Oracle DB
                                                li.int GeoJSON
                                                li Neo4J
                                    .row
                                        .time
                                            .t May'14 - Oct'16
                                            .td
                                                | Co-founder
                                                br
                                                | Lead Tech.
                                            .loc Chandigarh, IN
                                        .event
                                            .e XenonStack Pvt. Ltd.
                                            .ec I co-founded a solutions consulting startup and lead the technology team to serve fortune vendors. I played an important role in training the team on new technologies. With conflicting intersts on products and strategy; pertaining from long time; I decided to leave the team for good.
                                            ul.tags
                                                li.pro ETL
                                                li.pro Spark
                                                li.int Hadoop
                                                li.int Kafka
                                                li RabbitMQ
                                                li.pro PostgreSQL
                                                li.pro HBase
                                                li.int Elasticsearch
                                                li SolR
                                                li Scala
                                                li.pro Scrapy
                                    .row
                                        .time
                                            .t Oct'12 - May'14
                                            .td Freelancer
                                            .loc Jalandhar, IN
                                        .event
                                            .e Freelance Developer
                                            .ec I started by exploring technologies of the time and working for free at early stage. Finally got my first paid project in 2012. With excellent repeat hire rate; I developed ERP solutions and web platforms for various magazines and newspapers.
                                            ul.tags
                                                li.pro Python
                                                li.pto Flask
                                                li.int MySQL
                                                li AWS
                                                li.int PHP

                        section#courses.section
                            h3.head Courses / Certifications
                            .content
                                ul.certifications
                                    li
                                        b
                                            | Apache Spark
                                            br
                                            | for Big Data
                                        p Udemy UC-IHZ7NSWV
                                    li
                                        b 
                                            | Docker
                                            br
                                            | Deep Dive
                                        p Linux Academy 137690
                                    li
                                        b
                                            | Ansible for
                                            br
                                            | Orchestration
                                        p Linux Academy
                                    li
                                        b
                                            | Machine Learning
                                            br 
                                            | with Python
                                        p Udemy UC-XE5GJLEO
                           
        script(type='text/javascript', src='https://cdnjs.cloudflare.com/ajax/libs/highcharts/5.0.14/highcharts.js')
        script(type='text/javascript', src='https://cdnjs.cloudflare.com/ajax/libs/highcharts/5.0.14/highcharts-more.js')
        script(type='text/javascript', src='https://cdnjs.cloudflare.com/ajax/libs/highcharts/5.0.14/js/modules/solid-gauge.js')
        script(src='assets/js/BzFTMxc.min.js')
