doctype html 
html
        head
                title Abhay Arora (@BzFTMxc)
                link(rel="stylesheet", type="text/css", href="assets/css/BzFTMxc.min.css")
        body
                
                .wrapper
                        .page

                                section#whoami.wrapper
                                        h1 Some things
                                
                                section#timeline.wrapper
                                        .timeline
                                                .block.dotted.left A
                                                .block.dashed.right B
                                                .block.right C

                script(type="text/javascript", src="assets/js/BzFTMxc.min.js")
