doctype html
html(lang="en")
    head
        title Abhay Arora - Data Engineering &amp; Backend
        link(href='https://fonts.googleapis.com/css?family=Lato:300,400,400i,700,700i', type='text/css', rel='stylesheet')
        link(href='assets/css/BzFTMxc.min.css', type='text/css', rel='stylesheet')
    body
        .wrapper
            .page.fw

                section#whoami.wrapper
                    .l
                        .greeting.fw.fl
                            h3
                                span.highlight.skew
                                    span.unskew Hello!
                                span I am 
                            h1 Abhay Arora .
                        .role
                            p Data Engineering, Backend &amp; DevOps
                    .r
                        .intro.fw.fl
                            ul.journey
                                li
                                    .milestone Freelancing
                                li
                                    .milestone Startup
                                li
                                    .milestone Infosys
                                li
                                    .milestone Datalicious
                                li
                                    .milestone Your Team
                            p My idea of profession is to work for my passion. My passion for innovation, passion for technology, and yes passion for business co-define the terms on which I live.



                .split.fw.fl
                    
                    .split-left.fl
                        
                        section#skills.section
                            h3.head Inventory
                            .content
                                .sub-section
                                    span.title Languages
                                    ul.tags
                                        li.pro Python
                                        li.int Golang
                                        li Scala
                                        li.int Javascript
                                        li C
                                .sub-section
                                    span.title Framework & Utility
                                    ul.tags
                                        li Flask
                                        li Hadoop
                                        li Spark
                                        li Scrapy
                                        li RabbitMQ
                                        li Kafka
                                        li Storm
                                        li Angular.js
                                        li D3.js
                                        li React.js
                                        li Tensorflow
                                        li OpenCV
                                        li Ethereum
                                        li Hyperledger
                                .sub-section
                                    span.title Storage & Search
                                    ul.tags
                                        li MongoDB
                                        li MySQL
                                        li PostgreSQL
                                        li HDFS
                                        li Titan DB
                                        li Elasticsearch
                                        li SolR
                                        li HBase
                                        li Cassandra
                                        li Neo4J
                                .sub-section
                                    span.title Workflow & Deployment
                                    ul.tags
                                        li Lambda
                                        li Serverless
                                        li Docker
                                        li Openstack
                                        li AWS
                                        li Jenkins
                                        li Git
                                        li Slack
                                        li Shell Scripting
                                        li Taiga
                                        li JIRA
                                        li Kubernetes
                                        li GitLab
                        
                        section#interests.section
                            h3.head Areas of Interest
                            .content
                                .sub-section
                                    span.title Languages
                                    ul.tags
                                        li.pro Python
                                        li.int Golang
                                        li Scala
                                        li.int Javascript
                                        li C

                        section#contact.section
                            h3.head Get in Touch
                            .content
                                .sub-section
                                    span.title Languages
                                    ul.tags
                                        li.pro Python
                                        li.int Golang
                                        li Scala
                                        li.int Javascript
                                        li C

                            .foot There's an issue

                    .split-right.fl

                        section#contact.section.wb
                            h3.head Experience
                            .content
                                .timeline
                                    .row
                                        .time
                                            .t Oct'17 - Present
                                            .td Data Engineer
                                            .loc Bengaluru, IN
                                        .event
                                            .e Datalicious Pty. Ltd. (An Equifax company)
                                            .ec My idea of profession is to work for my passion. My passion for innovation, passion for technology, and yes passion for business co-define the terms on which I live
                                            ul.tags
                                                li ETL
                                                li Media Attribution
                                                li Data Pipelines
                                    .row
                                        .time
                                            .t Oct'17 - Present
                                            .td Data Engineer
                                            .loc Bengaluru, IN
                                        .event
                                            .e Datalicious Pty. Ltd. (An Equifax company)
                                            .ec My idea of profession is to work for my passion. My passion for innovation, passion for technology, and yes passion for business co-define the terms on which I live
                                            ul.tags
                                                li ETL
                                                li Media Attribution
                                                li Data Pipelines
                                    .row
                                        .time
                                            .t Oct'17 - Present
                                            .td Data Engineer
                                            .loc Bengaluru, IN
                                        .event
                                            .e Datalicious Pty. Ltd. (An Equifax company)
                                            .ec My idea of profession is to work for my passion. My passion for innovation, passion for technology, and yes passion for business co-define the terms on which I live
                                            ul.tags
                                                li ETL
                                                li Media Attribution
                                                li Data Pipelines
                                    .row
                                        .time
                                            .t Oct'17 - Present
                                            .td Data Engineer
                                            .loc Bengaluru, IN
                                        .event
                                            .e Datalicious Pty. Ltd. (An Equifax company)
                                            .ec My idea of profession is to work for my passion. My passion for innovation, passion for technology, and yes passion for business co-define the terms on which I live
                                            ul.tags
                                                li ETL
                                                li Media Attribution
                                                li Data Pipelines
                            .foot Total 3+ years of experience

                        section#contact.section.wb
                            h3.head Education
                            .content
                                .timeline
                                    .row
                                        .time
                                            .t 2013 - 2016
                                            .td Bachelor of Technology
                                            .loc Ludhiana, IN
                                        .event
                                            .e Punjab Technical University
                                            .ec Guru Nanak Dev Engineering College
                                            ul.tags
                                                li Computer Science &amp; Engineering
                                    .row
                                        .time
                                            .t 2013 - 2016
                                            .td Diploma in Engineering
                                            .loc Jalandhar, IN
                                        .event
                                            .e Punjab State Board Of Technical Education
                                            .ec Mehr Chand Polytechnic College
                                            ul.tags
                                                li Computer Engineering

                        section#contact.section.wb
                            h3.head Contact
                            .content
                                p Some content here
                            .foot There's an issue

        script(src='assets/js/BzFTMxc.js')
