doctype html 
html
        head
                title Abhay Arora (@BzFTMxc)
                link(rel="stylesheet", type="text/css",
                href="assets/css/BzFTMxc.min.css")
        body

                section#whoami.wrapper
                        .container
                                .row
                                        .col-md-12
                                                p Hello! I am
                                                h1.name Abhay Arora
                                                strong.work
                                                        | I am a software 
                                                        | developer.

                script(type="text/javascript", src="assets/js/BzFTMxc.min.js")
