@import 'src/less/BzFTMxc-theme.less';

body, h1, h2, h3, h4, h5, h6, ul, li{
    padding: 0px;
    margin: 0px;
}

html, body{
    font-family: @font;
    background: @background;
    color: @text;
    font-size: 11pt;
}

.wrapper{
    float: left;
    width: 100%;
}

.page{
    width: 100%;
    max-width: 1100px;
    margin: 0px auto;
}

.text-center{
    text-align: center;
}

.text-left{
    text-align: left;
}

.text-right{
    text-align: right;
}

@media print{
    .no-print, .no-print *{
	display: none !important;
    }
}

.skew{
    display: inline-block;
    transform: skew(-20deg, 0deg);

    .unskew{
	display: inline-block;
	transform: skew(20deg, 0deg);
    }
}

#whoami{

    img.portrait{
	margin: 0% 35%;
	width: 30%;
    }

    .greeting{
	float: left;
	width: 100%;
	text-align: center;

	.highlight{
	    background: #000;
	    color: #FFF;
	    padding-left: 18px;
	    padding-right: 18px;
	    margin: 0px 10px;
	    font-weight: 600;
	}
	
	h3{
	    font-weight: 300;
	    font-size: 24pt;
	}
	
	h1{
	    font-weight: 300;
	    font-size: 48pt;
	}
	
    }

    .highlights{
	float: left;
	width: 100%;
	text-align: center;
	margin: 5px 0px;
	
	.highlight{
	    padding: 5px 15px;
	    margin: 0px 8px;
	    background: #EEE;
	    color: #000;
	    font-weight: 400;
	    font-size: 10pt;
	}
    }

    .links{
	float: left;
	width: 100%;
	text-align: center;
	margin: 5px 0px;
	
	a{
	    font-size: 9pt;
	    line-height: 20px;
	    text-decoration: none;
	    color: lighten(@text, 40%);
	    margin: 0px 10px;

	    img{
		height: 13px;
		margin-right: 5px;
	    }

	    &:hover{
		color: @text;
		text-decoration: underline;
	    }
	}
    }
    
}

#timeline{
    background: @timeline-background;
    color: @timeline-text;
    padding-top: 30px;
}


.timeline{

    float: left;
    width: 100%;
    
    .block{
	position: relative;
	top: 0%;
	left: 0%;
	width: 100%;
	height: 140px;

	&.short{
	    height: 100px;
	}

	&.large{
	    height: 350px;
	}

	&::before{
	    content: '';
	    position: absolute;
	    width: 0%;
	    height: 90%;
	    margin: 0px auto;
	    top: 16px;
	    left: 0;
	    right: 0;
	    background: none;
	    border-right: dotted 2px @timeline-line-color;
	    opacity: .7;
	}

	&.large::before{
	    height: 95%;
	}

	&.solid::before{
	    border-right: solid 2px @timeline-line-color;
	}

	&.dashed::before{
	    border-right: dashed 2px @timeline-line-color;
	}

	&::after{
	    content: '';
	    position: absolute;
	    width: 8px;
	    height: 8px;
	    top: 0%;
	    margin: 0px auto;
	    left: 0;
	    right: 0;
	    background: none;
	    border: solid 4px @timeline-point-color;
	    border-radius: 50%;
	}

	&.solid::after{
	    background: @timeline-point-color;
	}

	.left{
	    position: absolute;
	    top: 0;
	    left: 0;
	    width: 47%;
	    padding-right: 3%;
	    text-align: right;
	    .time{
		text-align: right;
	    }
	    .image{
		img{
		    float: right;
		}
	    }
	    .content{
		text-align: right;
	    }
	    ul{
		li{
		    float: right;
		}
	    }
	}

	.right{
	    position: absolute;
	    top: 0;
	    left: 50%;
	    width: 47%;
	    padding-left: 3%;
	    text-align: left;
	    .time{
		text-align: left;
	    }
	    .image{
		img{
		    float: left;
		}
	    }
	    .content{
		text-align: left;
	    }
	    ul{
		li{
		    float: left;
		}
	    }
	}

	.time{
	    float: left;
	    width: 100%;
	    margin-bottom: 10px;
	    font-weight: 600;
	    font-style: italic;
	}

	.content{
	    float: left;
	    width: 100%;
	    font-size: 0.95em;

	    h3 {
		font-weight: 300;
		font-style: italic;
	    }

	    strong {
		font-weight: 300;
		display: block;
	    }

	    a{
		font-size: 10pt;
		color: lighten(@text, 50%);
		text-decoration: none;
		
		&:hover{
		    color: lighten(@text, 20%);
		    text-decoration: underline;
		}
	    }

	    p{
		margin: 10px 0px;
		color: lighten(@text, 30%);
	    }

	    ul.skills{
		float: left;
		width: 100%;
		list-style: none;

		li{
		    font-weight: 300;
		    font-size: 0.8em;
		    padding: 3px 8px;
		    margin: 3px 5px;
		    background: #EEE;
		}
	    }

	}
	
    }
   
}

.section{
    float: left;
    width: 100%;
    margin: 20px 0px;

    .title{
	font-weight: 600;
    }
    
    .sub-section{
	float: left;
	width: 100%;
	margin: 10px 0px;

	.title{
	    font-weight: 400;
	    font-style: italic;
	}
    }

    ul.technologies{
	list-style: none;
	margin: 5px 0px;

	li{
	    margin: 0px 5px;
	}
    }
}