@import 'src/less/BzFTMxc-theme.less';

body, h1, h2, h3, h4, h5, h6, ul, li{
    padding: 0px;
    margin: 0px;
}

html, body{
    font-family: @font;
    background: @background;
    color: @text;
    font-size: 10pt;
}

.wrapper{
    float: left;
    width: 100%;
}

.page{
    width: 100%;
    max-width: 1100px;
    margin: 0px auto;
}

.space{
    float: left;
    width: 100%;
    padding: 15px 0px;
}

.text-center{
    text-align: center;
}

.text-left{
    text-align: left;
}

.text-right{
    text-align: right;
}

@media print{
    .no-print, .no-print *{
	display: none !important;
    }
}

.skew{
    display: inline-block;
    transform: skew(-20deg, 0deg);

    .unskew{
	display: inline-block;
	transform: skew(20deg, 0deg);
    }
}

.highlight{
    background: #000;
    color: #FFF;
    padding: 3px 12px;
}

#whoami{

    img.portrait{
	margin: 0% 37.5%;
	width: 25%;
    }

    .greeting{
	float: left;
	width: 100%;
	text-align: center;

	.highlight{
	    background: #000;
	    color: #FFF;
	    padding-left: 18px;
	    padding-right: 18px;
	    margin: 0px 10px;
	    font-weight: 600;
	}
	
	h3{
	    font-weight: 300;
	    font-size: 24pt;
	}
	
	h1{
	    font-weight: 300;
	    font-size: 42pt;
	}
	
    }

    .highlights{
	float: left;
	width: 100%;
	text-align: center;
	margin: 5px 0px;
	
	.highlight{
	    padding: 5px 15px;
	    margin: 0px 8px;
	    background: #EEE;
	    color: #000;
	    font-weight: 400;
	    font-size: 10pt;
	}
    }

    .links{
	float: left;
	width: 100%;
	text-align: center;
	margin: 5px 0px;
	
	a{
	    font-size: 9pt;
	    line-height: 20px;
	    text-decoration: none;
	    color: lighten(@text, 40%);
	    margin: 0px 10px;

	    img{
		height: 13px;
		margin-right: 5px;
	    }

	    &:hover{
		color: @text;
		text-decoration: underline;
	    }
	}
    }
    
}

#timeline{
    background: @timeline-background;
    color: @timeline-text;
    padding-top: 30px;
}


.timeline{

    float: left;
    width: 100%;
    
    .block{
	position: relative;
	top: 0%;
	left: 0%;
	width: 100%;
	height: 135px;

	&.short{
	    height: 100px;
	}

	&.large{
	    height: 550px;
	}

	&::before{
	    content: '';
	    position: absolute;
	    width: 0%;
	    height: 90%;
	    margin: 0px auto;
	    top: 16px;
	    left: 0;
	    right: 0;
	    background: none;
	    border-right: dotted 2px @timeline-line-color;
	    opacity: .7;
	}

	&.large::before{
	    height: 95%;
	}

	&.solid::before{
	    border-right: solid 2px @timeline-line-color;
	}

	&.dashed::before{
	    border-right: dashed 2px @timeline-line-color;
	}

	&::after{
	    content: '';
	    position: absolute;
	    width: 8px;
	    height: 8px;
	    top: 0%;
	    margin: 0px auto;
	    left: 0;
	    right: 0;
	    background: none;
	    border: solid 4px @timeline-point-color;
	    border-radius: 50%;
	}

	&.solid::after{
	    background: @timeline-point-color;
	}

	.left{
	    position: absolute;
	    top: 0;
	    left: 0;
	    width: 47%;
	    padding-right: 3%;
	    text-align: right;
	    .time{
		text-align: right;
	    }
	    .image{
		img{
		    float: right;
		}
	    }
	    .content{
		text-align: right;
	    }
	    ul{
		li{
		    float: right;
		}
	    }
	}

	.right{
	    position: absolute;
	    top: 0;
	    left: 50%;
	    width: 47%;
	    padding-left: 3%;
	    text-align: left;
	    .time{
		text-align: left;
	    }
	    .image{
		img{
		    float: left;
		}
	    }
	    .content{
		text-align: left;
	    }
	    ul{
		li{
		    float: left;
		}
	    }
	}

	.time{
	    float: left;
	    width: 100%;
	    margin-bottom: 10px;
	    font-weight: 600;
	    font-style: italic;
	}

	.content{
	    float: left;
	    width: 100%;
	    font-size: 0.95em;

	    h3 {
		font-weight: 300;
		font-style: italic;
	    }

	    strong {
		font-weight: 300;
		display: block;
	    }

	    a{
		font-size: 10pt;
		color: lighten(@text, 50%);
		text-decoration: none;
		
		&:hover{
		    color: lighten(@text, 20%);
		    text-decoration: underline;
		}
	    }

	    p{
		margin: 10px 0px;
		color: lighten(@text, 30%);
	    }

	    ul.skills{
		float: left;
		width: 100%;
		list-style: none;

		li{
		    font-weight: 300;
		    font-size: 0.8em;
		    padding: 3px 8px;
		    margin: 3px 5px;
		    background: #EEE;
		}
	    }

	}
	
    }
   
}

.section{
    float: left;
    width: 100%;
    margin: 10px 0px;

    @media print{
	margin: 10px 0px;
    }

    .title{
	font-weight: 600;
	margin-bottom: 5px;
    }
    
    .sub-section{
	float: left;
	width: 100%;
	margin: 5px 0px;

	.title{
	    font-weight: 400;
	    font-style: italic;
	    font-size: 9pt;
	    color: #000;
	}
    }

    ul.technologies{
	list-style: none;
	margin: 5px 0px;

	li{
	    margin: 3px 5px;
	    font-size: 8pt;
	    background: #F7F7F7;
	    color: #333;
	    padding: 3px 8px;

	    &.int{
		background: #EEE;
		color: #111;
	    }
	    &.pro{
		background: #DDD;
		color: #000;
	    }
	}
    }
}

ul.journey{
    list-style: none;
    float: left;
    width: 100%;

    li{
	position: relative;
	float: left;
	width: 25%;

	&::before{
	    position: absolute;
	    content: '';
	    top: 40%;
	    left: 0;
	    width: 30%;
	    height: 0;
	    border-bottom: 1px #CCC dotted;
	    z-index: 0;
	}
	&:first-child::before{
	    border-bottom: 1px #CCC dashed;
	}
	
	&::after{
	    position: absolute;
	    content: '';
	    top: 40%;
	    right: 0;
	    width: 30%;
	    height: 0;
	    border-bottom: 1px #CCC dotted;
	    z-index: 0;
	}

	
	&:last-child::before{
	    position: absolute;
	    content: '';
	    top: 35%;
	    left: 0;
	    width: 0;
	    height: 0;
	    border-top: 5px solid transparent;
	    border-bottom: 5px solid transparent;
	    border-left: 5px solid #333;
	}
	&:last-child::after{
	    position: absolute;
	    content: '';
	    top: 35%;
	    left: 10px;
	    width: 0;
	    height: 0;
	    border-top: 5px solid transparent;
	    border-bottom: 5px solid transparent;
	    border-left: 5px solid #999;
	}

	.milestone{
	    float: left;
	    width: 100%;
	    padding: 0%;
	    text-align: center;

	    .image{
		float: left;
		width: 40%;
		margin: 5% 30%;
		background-position: center center;
		background-repeat: no-repeat;
		background-size: auto 100%;
		border-radius: 50%;
	    }

	    b{
		font-weight: 300;
		font-size: 9pt;
		color: #777;

		@media print{
		    font-size: 8pt;
		}
	    }
	}
    }
}

ul.education{
    list-style: none;
    float: left;
    width: 100%;
    padding: 5px 0px;

    li{
	float: left;
	width: 100%;
	padding: 10px 0px;
    }

    .learning{
	float: left;
	width: 100%;

	.year{
	    font-weight: 600;
	    font-style: italic;
	    font-size: 10pt;
	}

	.course{
	    font-size: 11pt;
	    font-weight: 100;
	    font-style: italic;
	    color: #333;
	    margin: 2px 0px;

	    .field{
		color: #555;
	    }
	}

	.institution{
	    font-size: 9pt;
	    color: #777;
	    font-weight: 100;
	}
    }
}

div#interests{
    float: left;
    width: 50%;
}

ul.interests{
    list-style: none;
    margin: 50px 0px;

    li{
	float: left !important;
	margin: 3px 5px;
	font-size: 9pt;
	background: #F7F7F7;
	color: #333;
	padding: 3px 8px;

	&.int{
	    background: #EEE;
	    color: #111;
	}
	&.pro{
	    background: #DDD;
	    color: #000;
	}
    }
}

div#interests-chart{
    float: left;
    width: 50%;
}

#footer{
    float: left;
    width: 100%;
    margin-top: 5%;
    padding: 5px 0px;
    padding-top: 10px;
    border-top: 1px #DDD solid;
    text-align: center;

    .quote{
	float: left;
	width: 100%;
	font-size: 11pt;
	color: #555;
	font-weight: 400;
	font-style: italic;

	&::before, &::after{
	    content: '"';
	    font-size: 18pt;
	    padding: 0px 10px;
	}
    }

    .note{
	float: left;
	width: 100%;
	font-size: 7pt;
	padding: 5px 0px;
	text-align: right;
    }
}