body,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
li {
  padding: 0px;
  margin: 0px;
}
html,
body {
  font-family: 'Lato', 'Arial', sans-serif;
  background: #FFF;
  color: #000;
  font-size: 10pt;
}
.wrapper {
  float: left;
  width: 100%;
}
.fl {
  float: left;
}
.fw {
  width: 100%;
}
.page {
  max-width: 1100px;
  margin: 0px auto;
}
.text-center {
  text-align: center;
}
.text-left {
  text-align: left;
}
.text-right {
  text-align: right;
}
@media print {
  .no-print,
  .no-print * {
    display: none !important;
  }
}
.skew {
  display: inline-block;
  transform: skew(-20deg, 0deg);
}
.skew .unskew {
  display: inline-block;
  transform: skew(20deg, 0deg);
}
.highlight {
  background: #000;
  color: #FFF;
  padding: 3px 12px;
}
#whoami {
  padding-top: 20px;
  border-bottom: 1px #eee solid;
  padding-top: 40px;
}
#whoami .l {
  float: left;
  width: 50%;
}
#whoami .r {
  float: left;
  width: 50%;
}
@media print {
  #whoami {
    padding-top: 0px;
  }
}
#whoami .greeting .highlight {
  background: #000;
  color: #FFF;
  padding-left: 18px;
  padding-right: 18px;
  margin: 0px 10px;
  font-weight: 600;
}
#whoami .greeting h3 {
  font-weight: 300;
  font-size: 22pt;
}
#whoami .greeting h1 {
  font-weight: 300;
  font-size: 44pt;
}
#whoami .intro {
  text-align: right;
  padding: 20px 0px;
}
@media print {
  #whoami .intro {
    padding: 15px 0px;
  }
}
#whoami .intro p {
  padding-top: 20px;
  font-style: italic;
  font-weight: 300;
  color: #CCC;
}
#whoami .role {
  padding: 10px 0px;
}
#whoami .role p {
  text-transform: uppercase;
  font-weight: 300;
  color: #777;
  font-size: 14pt;
}
@media print {
  #whoami .role p {
    font-size: 12pt;
  }
}
.split .split-left {
  width: 33%;
  padding-right: 2%;
}
.split .split-right {
  width: 62%;
  padding-left: 2%;
  border-left: 1px #EEE solid;
}
.section {
  float: left;
  width: 100%;
  padding-top: 25px;
  padding-bottom: 10px;
}
.section.wb {
  border-bottom: 1px #EEE solid;
}
.section .head {
  float: left;
  width: 100%;
  font-size: 11pt;
  text-transform: uppercase;
}
.section .content {
  float: left;
  width: 100%;
  font-size: 10pt;
  padding: 3px 0px;
}
.section .foot {
  float: left;
  width: 100%;
  text-align: right;
  font-size: 7pt;
  padding: 1px 0px;
}
.timeline {
  float: left;
  width: 100%;
  padding: 10px 0px;
}
.timeline .row {
  float: left;
  width: 100%;
  margin: 10px 0px;
}
.timeline .row .time {
  float: left;
  width: 20%;
  text-align: right;
}
.timeline .row .time div {
  float: left;
  width: 100%;
}
.timeline .row .time .t {
  font-style: italic;
  padding: 5px 0px;
}
.timeline .row .time .td {
  font-weight: bold;
}
.timeline .row .time .loc {
  font-size: 8pt;
  font-weight: 300;
}
.timeline .row .event {
  float: left;
  width: 75%;
  padding-left: 5%;
}
.timeline .row .event div {
  float: left;
  width: 100%;
}
.timeline .row .event .e {
  font-weight: bold;
  padding: 5px 0px;
}
ul.tags {
  float: left;
  width: 100%;
  margin: 10px 0px;
  padding: 0px;
  list-style: none;
  font-size: 8pt;
}
ul.tags li {
  float: left;
  background: #EEE;
  margin: 3px 5px;
  background: #F7F7F7;
  color: #333;
  padding: 3px 8px;
}
ul.tags li.int {
  background: #EEE;
  color: #111;
}
ul.tags li.pro {
  background: #DDD;
  color: #000;
}
.sub-section {
  float: left;
  width: 100%;
  margin: 10px 0px;
}
@media print {
  .sub-section {
    margin: 5px 0px;
  }
}
.sub-section .title {
  font-style: italic;
}
ul.journey {
  list-style: none;
  float: left;
  width: 100%;
}
ul.journey li {
  position: relative;
  float: left;
  width: 20%;
  margin: 15px 0px;
}
ul.journey li::before {
  position: absolute;
  content: '';
  top: 30%;
  left: 0;
  width: 40%;
  height: 0;
  border-bottom: 1px #CCC dashed;
  z-index: 0;
}
ul.journey li::after {
  position: absolute;
  content: '';
  top: 30%;
  right: 0;
  width: 40%;
  height: 0;
  border-bottom: 1px #CCC dashed;
  z-index: 0;
}
ul.journey li:last-child::before {
  position: absolute;
  content: '';
  top: 15%;
  left: 0;
  width: 0;
  height: 0;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-left: 5px solid #777;
}
ul.journey li:last-child::after {
  position: absolute;
  content: '';
  top: 15%;
  left: 10px;
  width: 0;
  height: 0;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-left: 5px solid #999;
}
ul.journey li .milestone {
  float: left;
  width: 100%;
  padding-top: 16px;
  text-align: center;
  font-size: 8pt;
  color: #333;
  font-style: italic;
}
ul.journey li .milestone::after {
  content: '';
  position: absolute;
  width: 5px;
  height: 5px;
  top: 1px;
  margin: 0px auto;
  left: 0;
  right: 0;
  background: none;
  border: solid 4px #555;
  border-radius: 50%;
}
