@import url('https://fonts.googleapis.com/css?family=Raleway|Raleway+Dots');
/**
 *  font-family: 'Raleway Dots', cursive;
 *  font-family: 'Raleway', sans-serif;
 **/
html,
body {
  font-family: 'Raleway', sans-serif;
}
.wrapper {
  float: left;
  width: 100%;
}
#whoami {
  text-align: center;
}
