@import url('https://fonts.googleapis.com/css?family=Raleway');
/**
 *  font-family: 'Raleway Dots', cursive;
 *  font-family: 'Raleway', sans-serif;
 **/
body,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
li {
  padding: 0px;
  margin: 0px;
}
html,
body {
  font-family: 'Raleway', 'Arial', sans-serif;
  background: #FFF;
  color: #000;
  font-size: 10pt;
}
.wrapper {
  float: left;
  width: 100%;
}
.page {
  width: 100%;
  max-width: 1100px;
  margin: 0px auto;
}
.space {
  float: left;
  width: 100%;
  padding: 15px 0px;
}
.text-center {
  text-align: center;
}
.text-left {
  text-align: left;
}
.text-right {
  text-align: right;
}
@media print {
  .no-print,
  .no-print * {
    display: none !important;
  }
}
.skew {
  display: inline-block;
  transform: skew(-20deg, 0deg);
}
.skew .unskew {
  display: inline-block;
  transform: skew(20deg, 0deg);
}
.highlight {
  background: #000;
  color: #FFF;
  padding: 3px 12px;
}
#whoami {
  padding-top: 20px;
}
@media print {
  #whoami {
    padding-top: 0px;
  }
}
#whoami .greeting {
  float: left;
  width: 100%;
  text-align: center;
  background-image: url("../img/abhay.png");
  background-repeat: no-repeat;
  background-size: 225px auto;
  background-position: top;
  padding-top: 170px;
}
#whoami .greeting .highlight {
  background: #000;
  color: #FFF;
  padding-left: 18px;
  padding-right: 18px;
  margin: 0px 10px;
  font-weight: 600;
}
#whoami .greeting h3 {
  font-weight: 300;
  font-size: 24pt;
}
#whoami .greeting h1 {
  font-weight: 300;
  font-size: 42pt;
}
#whoami .highlights {
  float: left;
  width: 100%;
  text-align: center;
  margin: 5px 0px;
}
#whoami .highlights .highlight {
  padding: 5px 15px;
  margin: 0px 8px;
  background: #EEE;
  color: #000;
  font-weight: 400;
  font-size: 10pt;
}
#whoami .links {
  float: left;
  width: 100%;
  text-align: center;
  margin: 5px 0px;
  font-family: 'Arial';
}
#whoami .links a {
  font-size: 9pt;
  line-height: 30px;
  text-decoration: none;
  color: #666666;
  margin: 0px 10px;
}
#whoami .links a img {
  height: 13px;
  margin-right: 5px;
}
#whoami .links a:hover {
  color: #000;
  text-decoration: underline;
}
#timeline {
  background: #FFF;
  color: #000;
  padding-top: 30px;
}
.timeline {
  float: left;
  width: 100%;
}
.timeline .block {
  position: relative;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 135px;
}
.timeline .block.short {
  height: 100px;
}
.timeline .block.large {
  height: 550px;
}
.timeline .block::before {
  content: '';
  position: absolute;
  width: 0%;
  height: 90%;
  margin: 0px auto;
  top: 16px;
  left: 0;
  right: 0;
  background: none;
  border-right: dotted 2px #333333;
  opacity: .7;
}
.timeline .block.large::before {
  height: 95%;
}
.timeline .block.solid::before {
  border-right: solid 2px #333333;
}
.timeline .block.dashed::before {
  border-right: dashed 2px #333333;
}
.timeline .block::after {
  content: '';
  position: absolute;
  width: 8px;
  height: 8px;
  top: 0%;
  margin: 0px auto;
  left: 0;
  right: 0;
  background: none;
  border: solid 4px #333333;
  border-radius: 50%;
}
.timeline .block.solid::after {
  background: #333333;
}
.timeline .block .left {
  position: absolute;
  top: 0;
  left: 0;
  width: 47%;
  padding-right: 3%;
  text-align: right;
}
.timeline .block .left .time {
  text-align: right;
}
.timeline .block .left .image img {
  float: right;
}
.timeline .block .left .content {
  text-align: right;
}
.timeline .block .left ul li {
  float: right;
}
.timeline .block .right {
  position: absolute;
  top: 0;
  left: 50%;
  width: 47%;
  padding-left: 3%;
  text-align: left;
}
.timeline .block .right .time {
  text-align: left;
}
.timeline .block .right .image img {
  float: left;
}
.timeline .block .right .content {
  text-align: left;
}
.timeline .block .right ul li {
  float: left;
}
.timeline .block .time {
  float: left;
  width: 100%;
  margin-bottom: 10px;
  font-weight: 600;
  font-style: italic;
}
.timeline .block .content {
  float: left;
  width: 100%;
  font-size: 0.95em;
}
.timeline .block .content h3 {
  font-weight: 300;
  font-style: italic;
}
.timeline .block .content strong {
  font-weight: 300;
  display: block;
}
.timeline .block .content a {
  font-size: 10pt;
  color: #808080;
  text-decoration: none;
}
.timeline .block .content a:hover {
  color: #333333;
  text-decoration: underline;
}
.timeline .block .content p {
  margin: 10px 0px;
  color: #4d4d4d;
}
.timeline .block .content ul.skills {
  float: left;
  width: 100%;
  list-style: none;
}
.timeline .block .content ul.skills li {
  font-weight: 300;
  font-size: 0.8em;
  padding: 3px 8px;
  margin: 3px 5px;
  background: #EEE;
}
.section {
  float: left;
  width: 100%;
  margin: 10px 0px;
}
@media print {
  .section {
    margin: 10px 0px;
  }
}
.section .title {
  font-weight: 600;
  margin-bottom: 5px;
}
.section .sub-section {
  float: left;
  width: 100%;
  margin: 10px 0px;
}
@media print {
  .section .sub-section {
    margin: 5px 0px;
  }
}
.section .sub-section .title {
  font-weight: 600;
  font-style: italic;
  font-size: 9pt;
  color: #000;
}
.section ul.technologies {
  list-style: none;
  margin: 5px 0px;
}
.section ul.technologies li {
  margin: 3px 5px;
  font-size: 8pt;
  background: #F7F7F7;
  color: #333;
  padding: 3px 8px;
}
.section ul.technologies li.int {
  background: #EEE;
  color: #111;
}
.section ul.technologies li.pro {
  background: #DDD;
  color: #000;
}
ul.journey {
  list-style: none;
  float: left;
  width: 100%;
}
ul.journey li {
  position: relative;
  float: left;
  width: 25%;
  margin: 20px 0px;
}
@media print {
  ul.journey li {
    margin: 15px 0px;
  }
}
ul.journey li::before {
  position: absolute;
  content: '';
  top: 40%;
  left: 0;
  width: 30%;
  height: 0;
  border-bottom: 1px #CCC dotted;
  z-index: 0;
}
ul.journey li:first-child::before {
  border-bottom: 1px #CCC dashed;
}
ul.journey li::after {
  position: absolute;
  content: '';
  top: 40%;
  right: 0;
  width: 30%;
  height: 0;
  border-bottom: 1px #CCC dotted;
  z-index: 0;
}
ul.journey li:last-child::before {
  position: absolute;
  content: '';
  top: 35%;
  left: 0;
  width: 0;
  height: 0;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-left: 5px solid #333;
}
ul.journey li:last-child::after {
  position: absolute;
  content: '';
  top: 35%;
  left: 10px;
  width: 0;
  height: 0;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-left: 5px solid #999;
}
ul.journey li .milestone {
  float: left;
  width: 100%;
  padding: 0%;
  text-align: center;
}
ul.journey li .milestone .image {
  float: left;
  width: 40%;
  margin: 5% 30%;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: auto 100%;
  border-radius: 50%;
}
ul.journey li .milestone b {
  font-weight: 300;
  font-size: 9pt;
  color: #777;
}
@media print {
  ul.journey li .milestone b {
    font-size: 8pt;
  }
}
ul.education {
  list-style: none;
  float: left;
  width: 100%;
  padding: 5px 0px;
}
ul.education li {
  float: left;
  width: 100%;
  padding: 10px 0px;
}
ul.education .learning {
  float: left;
  width: 100%;
}
ul.education .learning .year {
  font-weight: 600;
  font-style: italic;
  font-size: 10pt;
}
ul.education .learning .course {
  font-size: 11pt;
  font-weight: 100;
  font-style: italic;
  color: #333;
  margin: 2px 0px;
}
ul.education .learning .course .field {
  color: #555;
}
ul.education .learning .institution {
  font-size: 9pt;
  color: #777;
  font-weight: 100;
}
div#interests {
  float: left;
  width: 50%;
}
ul.interests {
  list-style: none;
  margin: 50px 0px;
}
ul.interests li {
  float: left !important;
  margin: 3px 5px;
  font-size: 9pt;
  background: #F7F7F7;
  color: #333;
  padding: 3px 8px;
}
ul.interests li.int {
  background: #EEE;
  color: #111;
}
ul.interests li.pro {
  background: #DDD;
  color: #000;
}
div#interests-chart {
  float: left;
  width: 50%;
}
#footer {
  float: left;
  width: 100%;
  margin-top: 5%;
  padding: 5px 0px;
  padding-top: 10px;
  border-top: 1px #DDD solid;
  text-align: center;
}
@media print {
  #footer {
    margin-top: 3%;
    padding-top: 5px;
  }
}
#footer .quote {
  float: left;
  width: 100%;
  font-size: 10pt;
  color: #555;
  font-weight: 400;
  font-style: italic;
}
#footer .quote::before,
#footer .quote::after {
  content: '"';
  font-size: 14pt;
  padding: 0px 10px;
}
#footer .note {
  float: left;
  width: 100%;
  font-size: 8pt;
  padding: 5px 0px;
  text-align: center;
}
#footer .note a {
  color: #000;
}
